<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!--<pages enableEventValidation = "false" />-->
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
      <add name="QL" connectionString="Data Source=DESKTOP-I6NTO4I ; Initial Catalog=BTVeNha ; User ID = sa; Password=sa2012 "/>
    </connectionStrings>
</configuration>